.gridContainer {
    display: grid;
    grid: 90px 90px 90px / 90px 90px 90px;
    gap: 5px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.2);
    width: calc(3 * 90px + 2*5px);
    height: calc(3 * 90px + 2*5px);
}

.gridContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.winner{
    background-color: green !important;
}